html,body {
	font-family:verdana, arial, helvetica, sans-serif;
	font-family: "Times New Roman", Times, serif;
    font-size:1em;
	min-width:14em;
	color: #000;
}

#header{
		display:none;
}

#logo {
    background-image: url(../images/nastro.png);
    background-repeat: no-repeat;
/*    display: block; */
    float: left; 
    height: 7.4em; 
    width: 55%;
    min-width: 7em;
    margin-left: 0.1em;
}

#center_side{
	width:50%;
	margin:0 auto;
	min-width:14em;
	text-align:center;
	overflow:auto;
	
}

#registration{
	width:70%;
	min-width:25em;
	text-align:center;
	overflow:auto;
}

#navigation{
	width:95%;
	height:1.2em;
	background-color:#d0d0d0;
	border: 0.1em solid black;
	padding-left: 1em;
	margin:0 auto;
}


.menu{
		width:100%;
		height:1.2em;
		color:white;
		text-align:center;
		border:0.1em solid black;
			
}

.content{
	float:left;
	width:90%;
	border:0.1em solid grey;
	padding:0.3em;
	background:white;
	border-top:0em solid grey;

}

.content_max_view{
	float:left;
	width:90%;
	text-align:center;
	border:0.1em solid grey;
	padding:0.3em;
	background:white;
	border-top:0em solid grey;
}

.content ul {
    list-style-type: none;
    margin: 0;
    padding: 0.2em;
}

#left_side{
		width:20%;
		min-width:11em;
		float:left;
		margin-top:2em;
}	

#right_side{
		width:20%;
		min-width:11em;
		float:right;
		margin-top:2em;
}	

.view{
		width:100%;
		height:1.2em;
		color:white;
		text-align:center;
		border:0.1em solid black;
}

.news{
		width:100%;
		height:1.2em;
		margin-top:9em;
		color:white;
		text-align:center;
		border:0.1em solid black;
}

hr {
 height:0.1px;
 color:white; 
}

#random_film{
	width:95%;
	margin:0 auto;
	margin-top:2em;
	background-color:white;	
	text-align:center;
	overflow: auto;
}



a{
	background-color: transparent;
	color: Blue;
	text-decoration : underline;
}

.differentLink{
	background-color: transparent;
	color: #3707F4;
	text-decoration : underline;
}

.locandina{
	max-width:200px;
	max-height:250px;
	min-width:10em;
	min-height:12em;
	border:0.1em solid grey;
	padding:0.2em;
	background:white;
}

.film{
	width:50%;
	min-width:11em;
	height:20em;
	text-align:center;
	margin:0 auto;
}

.infoAdmin{
	border:0.1em solid grey;
	width:60%;
	min-width:150px;
	float:left;
	margin:0 auto;
	margin:20px;
	padding: 1em;
	text-align:center;
	background-color:white;
}

.center{
	text-align:center;
}

#footer{
	width:100%;
	height:2em;
	text-align:center;
}

#login{
	display:none;
}

#logout{
	display:none;
}

#sending{
	display:none;
}

#listed{
	width:95%;
	background-color:white;
	border:0.1em solid grey;
}

#wrapper{
	height:auto;
}
.pushfooter{
}

.preview{
	border:0.1em solid grey; padding:2em; background:white;
	max-width:60%;
	max-height:60%;
}

#year{
	width:46%;
	height:23em;
	float:left;
	background-color:white;
	border:0.1em solid grey;
}

#genre{
	width:46%;
	height:23em;
	float:left;
	background-color:white;
	border:0.1em solid grey;
}

.userLogged{
	background:url(../images/trasparency6b.png);
	width:auto;
	height:100%;
	padding:0.5em;
}

.avatar{
	float:left;
}

.name{
	float:left;
	margin-left:0.7em;
}

.grav{
	max-width:40px;
	max-height:40px;
	border:0.1em solid grey; padding:0.15em; background:white;
}

.grav2{
	max-width:80px;
	max-height:80px;
	border:0.1em solid grey; padding:0.15em; background:white;
}

.pict{
	width:80px;
	height:auto;
	color:orange;
}

#commenti{
	width:95%;
	height:auto;
	margin:0 auto;
	background-color:white;
}

.commento{
	width:90%;
	height:auto;
	margin:0 auto;
	text-align:center;
}

.data{
	float:right;
}

.commentHeader{
	float:left;
}

.user{
	width:50%;
	margin:0 auto;
	text-align:left;
}

.userComment{
	width:100%;
	height:auto;
	color:orange;
	margin:0 auto;
	text-align:left;
}

.userText{
	width:100%;
	height:auto;
	text-align:center;
	margin:0 auto;
}

.sx{
	width:35%;
	text-align:left;
	float:left;
}

.dx{
	text-align:right;
	float:right;
}

.correctValue{
	color:green;
	display: none;
	float:right;
}

.wrongValue{
	color:red;
	display: none;
	float:right;
}

.wrongRegistration{
	color:red;
}

.episodes{
	width:30%;
	margin:0 auto;
}

.jump {
	position: absolute;
	height:0;
	overflow: hidden;
}

.white{
	color: white;
}

#aboutUs{
	width:45%;
	margin:0 auto;
	margin-top:2em;
	background:url(../images/nastro10f.png) no-repeat;
	text-align:center;
	border:0.1em solid grey;
	min-height:42em;
	min-width:24em;
}
