html,body {
	font-family:verdana, arial, helvetica, sans-serif;
	/*background-color:#aacffd;*/
	height: 100%;
	background-color:#efefef;
}

#navigation{
	width:98,5%;
	height:20px;
	background-color:#d0d0d0;
	border: 1px solid black;
	padding-left: 1em;
	margin:0 auto;
}

#header{
		width:100%;
		height:90px;
		background:url(../images/header.png) repeat-x;
		margin:0 auto;
		padding-bottom:10px;
}

#center_side{
	margin:0 auto;
	width:60%;
	min-width:360px;
	height:100%;
	text-align:center;
	margin-left: auto;
}

#registration{
	margin:0 auto;
	width:40%;
	min-width:360px;
	height:100%;
	text-align:center;
	margin-left: auto;
}

.content{
	width:86%;
	float:left;
	border:1px solid grey;
	padding:5px;
	background:white;
	border-top:0px solid grey;

}

.content_max_view{
	float:left;
	width:90%;
	text-align:center;
	border:1px solid grey;
	padding:5px;
	background:white;
	border-top:0px solid grey;
}

#left_side{
		width:20%;
		float:left;
		height:100%;
		margin-top:4.5em;
		min-width:180px;
}	

#right_side{
		width:20%;
		float:right;
		height:100%;
		margin-top:4.5em;
		min-width:180px;
}	

#corpse{
		width:100%;
		height:400px;
		margin:0 auto;
}

.menu{
		width:97%;
		height:20px;
		background:url(../images/title.png) repeat-x;
		color:white;
		text-align:center;
		border:1px solid grey;
			
}

.view{
		width:100%;
		height:20px;
		background:url(../images/title.png) repeat-x;
		color:white;
		text-align:center;
		border:1px solid grey;
}

.news{
		width:100%;
		margin-top:180px;
		background:url(../images/title.png) repeat-x;
		color:white;
		text-align:center;
		border:1px solid grey;
}

hr {
 height:1px;
 color:white; 
}

#random_film{
	width:95%;
	height:100%;
	margin:0 auto;
	margin-top:30px;
	background-color:white;	
	text-align:center;
	border:1px solid grey;
	min-height:700px;
}

a{
	background-color: transparent;
	color: Black;
	text-decoration: none;
}

a:hover{
	background-color: #FF6347;
	color: Black;
	text-decoration: none;
}

.locandina{
	width:12em;
	height:15em;
	border:1px solid grey;
	padding:0.2em;
	background:white;
}

.film{
	width:50%;
	min-width:150px;
	float:left;
	margin:0 auto;
	margin-top:20px;
	text-align:center;
}

.infoAdmin{
	border:1px solid grey;
	width:30%;
	min-width:150px;
	float:left;
	margin:0 auto;
	margin:20px;
	padding: 1em;
	text-align:center;
}

.center{
	text-align:center;
}

#footer{
	width:100%;
	height: 30px;
	background:url(../images/header.png) repeat-x;
	text-align:center;
	
}

#login{
	float:right;
	height:98%;
	/*border:1px solid grey;
	/*margin-right:10px;*/
}

#logout{
	float:right;
	color: blue;
}


#sending{
	width:29px;
	height:29px;
	background:url(../images/login.gif);
	color:transparent;
}

#listed{
	width:95%;
	background-color:white;
	border:1px solid grey;
}

#wrapper{
	min-height:100%;
	height:auto;
	margin:0 auto -30px; /* margine negativo altezza footer */
}
.pushfooter{
	height:30px; /* altezza footer */
	clear:both; /* clear di eventuali float se presenti nel layout */
}

.preview{
	border:1px solid grey; padding:5px; background:white;
	max-width:60%;
	max-height:60%;
}

#year{
	width:48%;
	height:370px;
	float:left;
	background-color:white;
	border:1px solid grey;
}

#genre{
	width:48%;
	height:370px;
	float:left;
	background-color:white;
	border:1px solid grey;
}

.userLogged{
	width:auto;
	height:100%;
	padding:10px;
	/*margin-top:5px;*/
	/*margin-bottom:5px;*/
}

.avatar{
	float:left;
}

.name{
	float:left;
	margin-left:5px;
}

.grav{
	max-width:40px;
	max-height:40px;
	border:1px solid grey; padding:2px; background:white;
}

.grav2{
	max-width:80px;
	max-height:80px;
	border:1px solid grey; padding:2px; background:white;
}

.pict{
	width:80px;
	height:auto;
	color:orange;
}

#commenti{
	width:95%;
	height:auto;
	margin:0 auto;
	background-color:white;
	border:1px solid grey;
}

.commento{
	width:90%;
	height:auto;
	margin:0 auto;
	text-align:center;
	padding:5px;
	border:1px solid grey;
	background-color:LightGrey;
}

.data{
	float:right;
}

.commentHeader{
	float:left;
}

.user{
	width:50%;
	margin:0 auto;
	text-align:left;
}

.userComment{
	width:100%;
	height:auto;
	color:orange;
	margin:0 auto;
	text-align:left;
}

.userText{
	width:100%;
	height:auto;
	text-align:center;
	margin:0 auto;
}

.sx{
	text-align:left;
	float:left;
}

.dx{
	text-align:right;
	float:right;
}

.correctValue{
	color:green;
	display: none;
	float:right;
}

.wrongValue{
	color:red;
	display: none;
	float:right;
}

.wrongRegistration{
	color:red;
}



